#search
{
	position: relative;
	input
	{
		text-indent: 10px;
	    padding: 0.5em;
	    width: 100%;
	    display: inline-block;
	    border-radius: 50px;
	    position: relative;
	    z-index: 9;
	    transform: scale(0,1);
	    transform-origin: right;
	    will-change:transform;
	    transition:transform 0.3s ease-in-out;
	    &.active
	    {
	    	transform: scale(1);
	    }
	}
	label
	{
		display: inline-block;
	    margin-bottom: .5rem;
	    font-size: 1.5rem;
	    position: absolute;
	    top: 0;
	    right: 5%;
	    z-index: 99;
    	cursor: pointer;
	}
}