/*======================
====== start header =======
======================*/
header
{
	position: relative;
	min-height:800px;
	height:800px;
	height:100vh;
	background-color: $white-color;
	overflow: hidden;
	.navbar-brand
	{
		font-size:1.5rem;
		text-transform: uppercase;
	}
	.top-bar
	{
		height:75%;
	}
	.search
	{
	    padding: 0.5em 1em;
	    background-color: $main-color;
	    height: 100%;
	    @include flex(1, 0, auto);
	}
}
/*======================
====== end header =======
======================*/