- const title = 'Mitalent'
- const themeColor = '#39b3f1'
- const icon = '#!'
- const description = 'description'
- const keyword = 'keyword'
- const fonts = [{comment:'google fonts api', href:'https://fonts.googleapis.com/css?family=Amaranth:700|Raleway'}]
- const globalStyle = [{comment:'bootstrap v4', href:'css/bootstrap.min.css'},{comment:'font-awesome  v4.7', href:'css/font-awesome.min.css'}]



- const navList = [{title:'home', href:'/', active:'active'},{title:'about', href:'about.html'}, {title:'clients', href:'clients.html'}, {title:'news', href:'news.html'}, {title:'profile', href:'profile.html'}, {title:'blog', href:'blog.html'}, {title:'contact', href:'contact.html'}]
- const navItems = [{title:'clients', href:'clients.html'},{title:'news', href:'news.html'}]


- const sliderList = [{img:{src:'./img/slider-1.jpg',title:'slider-1', alt:'alt-1'}, name:'derek<br/>anderson', job:'british comedian',id:'slider1'},{img:{src:'./img/slider-2.jpg',title:'slider-2', alt:'alt-2'}, name:'ahmed<br/>samir', job:'british comedian',id:'slider2'},{img:{src:'./img/slider-3.jpg',title:'slider-3', alt:'alt-3'}, name:'super<br/>anderson', job:'british hero',id:'slider3'},{img:{src:'./img/slider-4.jpg',title:'slider-4', alt:'alt-4'}, name:'derek<br/>anderson', job:'british comedian',id:'slider4'}]