// =======================
		start header
	======================
header
	// ================
		start top bar
		=============
	div(class="top-bar d-flex align-items-start")
		include nav
		// ========== start search========
		div(class="search d-flex")
			div(class="container")
				include form/search
		// ========== end search========
	// ================
		start top bar
		=============
	include slider
// =======================
		end header
	======================