- const title = 'Mitalent'
- const themeColor = '#39b3f1'
- const icon = 'icon-192.png'
- const description = 'description'
- const keyword = 'keyword'
- const fonts = [{comment:'google fonts api', href:'https://fonts.googleapis.com/css?family=Amaranth:700|Raleway'}]
- const globalStyle = [{comment:'bootstrap v4', href:'css/bootstrap.min.css'},{comment:'font-awesome  v4.7', href:'css/font-awesome.min.css'}]



- const navList = [{title:'home', href:'index.html'},{title:'about', href:'about.html'}, {title:'clients', href:'clients.html'}, {title:'news', href:'news.html'}, {title:'profile', href:'profile.html'}, {title:'blog', href:'blog.html'}, {title:'contact', href:'contact.html'}]
- const navItems = [{title:'clients', href:'clients.html'},{title:'news', href:'news.html'}]


- const sliderList = [{img:'https://cdn.pixabay.com/photo/2015/01/08/18/29/entrepreneur-593358_960_720.jpg', name:'derek<br/>anderson', job:'british comedian',id:'slider1'},{img:'https://cdn.pixabay.com/photo/2015/06/19/09/39/lonely-814631__340.jpg', name:'ahmed<br/>samir', job:'british comedian',id:'slider2'},{img:'https://cdn.pixabay.com/photo/2014/07/31/23/49/guitarist-407212__340.jpg', name:'super<br/>anderson', job:'british hero',id:'slider3'},{img:'https://cdn.pixabay.com/photo/2016/11/29/08/51/city-1868530__340.jpg', name:'derek<br/>anderson', job:'british comedian',id:'slider4'}]



- const clientsFilter = ['all', 'actor', 'musician', 'comdian', 'model']
- const clients = [{id:"#!",job:'comdian', name:'keith ruiz', img:'https://cdn.pixabay.com/photo/2017/06/26/02/47/people-2442565__340.jpg'}, {id:"#!",job:'actor', name:'ahmed ruiz', img:'https://cdn.pixabay.com/photo/2015/07/20/12/57/man-852766__340.jpg'}, {id:"#!",job:'musician', name:'super ahmed', img:'https://cdn.pixabay.com/photo/2015/03/14/19/45/suit-673697__340.jpg'}, {id:"#!",job:'model', name:'super hero', img:'https://cdn.pixabay.com/photo/2015/07/20/12/53/man-852762__340.jpg'}, {id:"#!",job:'comdian', name:'keith ruiz', img:'https://cdn.pixabay.com/photo/2014/08/08/20/51/hunger-413685__340.jpg'}, {id:"#!",job:'actor', name:'ahmed ruiz', img:'https://cdn.pixabay.com/photo/2015/04/27/22/53/man-742766__340.jpg'}, {id:"#!",job:'musician', name:'super ahmed', img:'https://cdn.pixabay.com/photo/2017/08/01/01/33/beanie-2562646__340.jpg'}, {id:"#!",job:'model', name:'super hero', img:'https://cdn.pixabay.com/photo/2014/06/04/16/58/cigar-362183__340.jpg'},{id:"#!",job:'model', name:'super heros', img:'https://cdn.pixabay.com/photo/2015/07/15/06/42/homeless-845709__340.jpg'}]



- const storiesList = [{id:'#!', img:'https://cdn.pixabay.com/photo/2013/04/12/17/50/man-103041__340.jpg', title: '5 reasons to keep your beauty salon reservation', time:'8 march, 2020'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2016/01/18/20/09/old-age-1147283__340.jpg', title: 'benjamin franklin method of habit formation', time:'8 march, 2023'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2015/01/31/18/17/arabs-618749__340.jpg', title: '29 mativational quotes for business', time:'8 march, 2022'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2016/02/19/11/52/couple-1210023__340.jpg', title: '29 mativational quotes for business', time:'8 march, 2022'},{id:'#!', img:'https://cdn.pixabay.com/photo/2016/11/29/02/16/adult-1866798__340.jpg', title: '5 reasons to keep your beauty salon reservation', time:'8 march, 2020'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2016/02/18/22/17/old-man-1208210__340.jpg', title: 'benjamin franklin method of habit formation', time:'8 march, 2023'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2015/12/08/00/57/rock-climbing-1082220__340.jpg', title: '29 mativational quotes for business', time:'8 march, 2022'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2014/09/22/01/10/solitude-455768__340.jpg', title: '29 mativational quotes for business', time:'8 march, 2022'}]



- const newsList = [{id:'#!', img:'https://cdn.pixabay.com/photo/2018/06/12/21/26/person-3471540__340.jpg', title: '5 reasons to keep your beauty salon reservation', time:'8 march, 2020'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2015/11/07/11/57/holding-hands-1031665__340.jpg', title: 'benjamin franklin method of habit formation', time:'8 march, 2023'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2016/11/21/14/30/black-people-1845715__340.jpg', title: '29 mativational quotes for business', time:'8 march, 2022'}, {id:'#!', img:'https://cdn.pixabay.com/photo/2015/10/12/15/11/mountain-984277__340.jpg', title: '29 mativational quotes for business', time:'8 march, 2022'}]

