extends layout

block style
	// index style
	link(rel="stylesheet" type="text/css" href="css/clients.min.css")

block content
	-let navActive = 'clients'
	include layout/header-home
	include layout/main-clients
	include layout/footer