extends layout

block style
	// index style
	link(rel="stylesheet" type="text/css" href="css/index.min.css")

block content
	-let navActive = 'home'
	include layout/header-home
	include layout/main-home
	include layout/footer