extends layout

block style
	// news style
	link(rel="stylesheet" type="text/css" href="css/news.min.css")

block content
	-let navActive = 'news'
	include layout/header-news
	include layout/main-news
	include layout/footer