// search form
form(id="search")
	input(type="text" name="search" value="" placeholder="search..." id="searchInput")/
	label(for="searchInput" aria-label="search")
		<i class="fa fa-search" aria-hidden="true"></i>