include components/var
doctype html
html
	head
		include components/head
		// index style
		link(rel="stylesheet" type="text/css" href="css/news.css")
	body
		include components/preload
		// =======================
			start container
			======================
		.container-fluid
			// message for old browser
			div(class="alert alert-danger m-0" id="alert" role="alert" style="display: none;")
				| your browser is old

			include layout/header
			include components/footer
		// =======================
			end container
			======================
		include components/script