/*======================
====== start buttons style =======
======================*/
button
{
	text-transform: inherit;
	color: inherit;
}
.btn-primary
{
	color: $white-color;
    background-color: $main-color2;
    border:none;
    @include transition(background 0.2s ease);
    &:hover
    {
    	background-color: $text-color;
    }
}
.btn-post
{
	position: absolute;
	bottom: 0;
	#{$right}: 0;
	background-color: $white-color;
	color:$text-color;
	padding: 1em;
	width: 35%;
	text-transform: uppercase;
	@include border-radius(0);
	&:hover
	{
    	background-color: $main-color2;
	}
}
.btn-more
{
	margin: 0 auto;
    display: block;
    margin-top: 50px;
    padding: 0.5em 1em;
    @include border-radius(25px);
}
.btn-grid
{
	font-size:1.5rem;
	&:hover,
	&.active
	{
		color:$main-color;
	}
}
@include media($max_lg)
{
	.button-grid
	{
		margin-top: 1em;
	}
}
/*======================
====== end buttons style =======
======================*/