/*======================
====== start header =======
======================*/
header
{
	position: relative;
	min-height:700px;
	height:700px;
	height:100vh;
	background-color: $white-color;
	overflow: hidden;
	.navbar-brand
	{
		font-size:1.5rem;
		text-transform: uppercase;
	}
	.top-bar
	{
		height:75%;
	}
	.search
	{
	    padding: 0.5em 1em;
	    background-color: $main-color;
	    height: 100%;
	    @include flex(1, 0, auto);
	}
}
//fixed media
@include media($max_mid)
{
	header
	{
		.top-bar
		{
			height: auto;
			margin-bottom: 1em;
			@include flex-wrap(wrap);
			
		}
	}
}
/*======================
====== end header =======
======================*/