// =======================
		start footer
	======================
footer(class="pt-5")
	div(class="container")
		// news letter
		div(class="row pt-3 pb-3")
			div(class="col-12 col-md-6")
				a(class="footer-brand h-style" href="#")
					= `${title}`
			div(class="col-12 col-md-6")
				button(type="button" class="news-letter")
					span(class="letter-span") sign up our newsletter
					<i class="fa fa-envelope-o ml-3" aria-hidden="true"></i>
		// news copy & links
		div(class="row pt-3 pb-3 copy-links")
			div(class="col-12 col-md-6")
				p(class="copy-right")
					| &copy; 2018 mi talent coding by ahmednet
			div(class="col-12 col-md-6")
				ul(class="list-inline links")
					li(class="list-inline-item")
						a(href="#!" aria-label="facebook")
							<i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
					li(class="list-inline-item")
						a(href="#!" aria-label="twitter")
							<i class="fa fa-twitter-square fa-lg" aria-hidden="true"></i>
					li(class="list-inline-item")
						a(href="#!" aria-label="instagram")
							<i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
					li(class="list-inline-item")
						a(href="#!" aria-label="youtube")
							<i class="fa fa-youtube-play fa-lg" aria-hidden="true"></i>
// =======================
		end footer
	======================