// =======================
		start main
	======================
main
	include clients/clients
	-let storiesNumber = 2
	include stories/stories
	include news/news
// =======================
		end main
	======================